.btn--primary{
  padding: 8px 24px;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
  color: white;
  background-color: var(--main);
  border: 2px solid var(--main);
}

.btn--secondary{
  padding: 8px 24px;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
  color: var(--main);
  border: 2px solid var(--main);
}

.btn--primary:hover{
  background-color: var(--main__hover);
}

.btn--secondary:hover{
  background-color: var(--main);
  color: white;
}
