.input-container{
  display: flex;
  justify-content: space-between;
}

.form__action{
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: flex-end;
}

.split{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

Button{
  margin-left: 4px;
}

.image-preview{
  background-image: url('/src/assets//17.jpg');
  width: 200px;
  height: 200px;
  border: 2px solid var(--grey);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  color: var(--main);
  
}

.input__fileUpload{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}