.select{
  display: flex;
  flex-direction: column;
  color: var(--main);
  margin-bottom: 12px;
}

.select__label{
  color: var(--main);
  font-weight: bold;
}

.select__items{
  padding: 10px 16px;
  background-color: var(--bg__color);
  border: 2px solid var(--grey);
  border-radius: 4px;
  color: var(--main);
}